<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>kiker Login</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Кикер</strong></li>
        </ul>
        <ul>
            <li><a href="/registration.html" role="button">Регистрация</a></li>
        </ul>
    </nav>

    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Добро пожаловать в Кикер Геймс</h2>
                    <h3>Войдите в свой аккаунт</h3>
                </hgroup>
                <form>
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Войти</button>
                </form>
            </section>
        </div>
    </main>
</body>
</html>

